body, html {
            margin: 0px;
            height: 100%;
        }
        body {
            width: 100%;
            float: left;
        }
       #main_container {
            text-align: left;
            vertical-align: middle;
            margin: 0px auto;
            padding: 0px;
            width: 1000px;
            background-color: trasparent;
        }
        #sb-player.html {
            overflow: hidden!important;
        }
        #browserInfo {
            display:block;
            clear:both;
            text-align: center;
            width:100%;
            background-color:white;
            padding: 20px 0;
            overflow:auto;
        }
        #browserInfo h1 {
            font-size: 120%;
            padding: 0 0 10px;
        }
        #browserInfo a{
            margin: 20px 10px;
        }
        .template * {
            display: none;
        }
		/* Dimensions set via css in MovingBoxes version 2.2.2+ */
		#slider { width: 350px; }
		#slider li { width: 200px; }
		#slider2 { width: 350px; }
		#slider2 li { width: 200px; }
		#slider3 { width: 350px; }
		#slider3 li { width: 200px; }
		#slider_golkeeper { width: 350px; }
		#slider_golkeeper li { width: 200px; }
		#slider_golkeeper2 { width: 350px; }
		#slider_golkeeper2 li { width: 200px; }
		#slider_golkeeper3 { width: 350px; }
		#slider_golkeeper3 li { width: 200px; }
#container{
	padding:20px;
	height:600px;
overflow-x:hidden; 
overflow-y:auto;
	}
.gol_keeper_slider{
position:relative;
float:left;
margin right:95px;
	margin-left:110px;
	
}
.players_slider{
	position:relative;
	float:left;
	margin right:95px;
	margin-left:50px;
}
.arbitro_slider{
	width:900px;
	position:relative;
	float:left;
	margin-left:30%;
	clear:right;
}
.shield{
	width: 50px;
	height: 50px;
	position:relative;
	float:left;
	margin-left:10px;
	}
	
	.vs{
		width:60px;
		position: relative;
	float: left;
	margin-left:20px;
	}
.name{
	position: relative;
	float: left;
	vertical-align: central;
	color: #FFFFFF;
	font-size: x-large;
	text-align: rigth;
	text-indent: 25px;
	text-shadow: 2px 3px 2px #000000;
	margin:10px;
}
.welcome{
	position: relative;
	float: left;
	margin-left:30%;
	color: #FFFFFF;
	font-size:60px;
	text-align: rigth;
	text-indent: 25px;
	text-shadow: 2px 3px 2px #000000;
}
.name2{
	position: relative;
	float: right;
	vertical-align: central;
	color: #FFFFFF;
	font-size: x-large;
	text-align: rigth;
	text-indent: 25px;
	margin-top: 15px;
	text-shadow: 2px 3px 2px #000000;
}
.name3{
	position: relative;
	float: left;
	vertical-align: central;
	color: #FFFFFF;
	font-size: x-large;
	text-align: rigth;
	text-indent: 25px;
	margin-top: 15px;
	text-shadow: 2px 3px 2px #000000;
}
.name4{
	position: relative;
	float: left;
	vertical-align: central;
	color: #FFFFFF;
	font-size:large;
	text-align: rigth;
	text-indent: 25px;
	margin-top: 15px;
	text-shadow: 2px 3px 2px #000000;
}
.logo{
	width:1000px;
	height:50px;
	position: relative;
	float: left;
	margin-left:200px;
}
.logo2{
	width:1000px;
	height:50px;
	position: relative;
	float: left;
	margin-left:33%;
}
.players{
	position: relative;
	float: left;
	color: #FFFFFF;
	font-size: large;
	text-align: rigth;
	text-indent: 25px;
	margin-top: 15px;
	text-shadow: 2px 3px 2px #000000;
}
.golkeepers{
	position: relative;
	float: right;
	color: #FFFFFF;
	font-size: large;
	text-align: rigth;
	text-indent: 25px;
	margin-top: 15px;
	text-shadow: 2px 3px 2px #000000;
}
.pl_gk{
	width:630px;
	height:90px;
	margin-left:110px;
}
.send_buttom{
	clear:right;	
	position: relative;
	float: left;
	margin-top: 10%;
	margin-left:23%;
	background-color: #1D1D1B;
    background: -webkit-linear-gradient(bottom,#1D1D1B, #3B85D4);
    background: -moz-linear-gradient(bottom,#1D1D1B, #3B85D4);
    background: -ms-linear-gradient(bottom,#1D1D1B, #3B85D4);
    background: -o-linear-gradient(bottom,#1D1D1B, #3B85D4);
    background: linear-gradient(to top,#1D1D1B, #3B85D4);
	color: #FFFFFF;
	font-size: large;
	padding: 5px;
	}
	.send_buttom:hover{
		background-color: #3b3b3b;
    background: -webkit-linear-gradient(top,#3b3b3b, #1D1D1B);
    background: -moz-linear-gradient(top,#3b3b3b, #1D1D1B);
    background: -ms-linear-gradient(top,#3b3b3b, #1D1D1B);
    background: -o-linear-gradient(top,#3b3b3b, #1D1D1B);
    background: linear-gradient(to bottom,#3b3b3b,#1D1D1B);
	}
#kit_sent{
	z-index: 100000;
	position: absolute;
	top: 40%;
	left: 50%;
	width: 1000px;
	height: 600px;
	margin-top:-150px;
	margin-left: -500px;
	visibility: hidden;
	background-color: #999999;
	background-image: url(imagenes/fondo_equipaciones.jpg);
	background-repeat: no-repeat;
	background-size: 1000px auto;
			}
			
#kit_sent2{
	z-index: 100000;
	position: absolute;
	top: 40%;
	left: 50%;
	width: 1000px;
	height: 600px;
	margin-top:-150px;
	margin-left: -500px;
	visibility:hidden;
	width: 1000px;
	height: 700px;
	margin-top: -200px;
	margin-left: -500px;
	background-color: #999999;
	background-image: url(imagenes/fondo_equipaciones.jpg);
	background-repeat: no-repeat;
	background-size: 1000px auto;
			}
			
			#kit_sent3{
	z-index: 100000;
	position: absolute;
	top: 40%;
	left: 50%;
	width: 1000px;
	height: 600px;
	margin-top:-150px;
	margin-left: -500px;
		background-color: #999999;
	background-image: url(imagenes/fondo_equipaciones.jpg);
	background-repeat:repeat;
	background-size: 1000px auto;
			}
		
.txt{
	position:absolute;
	float:left;
	margin:15%;
	color: #ffffff;
	font-size: xx-large;
}
.txt_ok{
	position: relative;
	float: left;
	clear:right;
	vertical-align: central;
	color: #FFFFFF;
	margin-right:10%;
	margin-left:12%;
	margin-bottom:3%;
	font-size: xx-large;
	text-align: rigth;
	text-indent: 25px;
	text-shadow: 2px 3px 2px #000000;
	
}
.close_buttom{
	background-color: #FFFFFF;
	font-size: large;
}
.fixed {
	position: fixed;
	width: 250px;
	left: 10px;
	bottom: 10px;
	z-index: 10;
	padding: 15px;
	border-radius: 20px;
	background-image: url(imagenes/fondo_fixed.png);
	background-repeat: repeat;
	}
	.fixed2 {
	position: fixed;
	width: 250px;
	right: 10px;
	bottom: 10px;
	z-index: 10;
	padding: 15px;
	border-radius: 20px;
	background-image: url(imagenes/fondo_fixed.png);
	background-repeat: repeat;
	}
	.buttom{
	position: relative;
	float: left;
	margin-top: 10%;
	margin-left:20%;
	background-color: #1D1D1B;
    background: -webkit-linear-gradient(bottom,#1D1D1B, #3B85D4);
    background: -moz-linear-gradient(bottom,#1D1D1B, #3B85D4);
    background: -ms-linear-gradient(bottom,#1D1D1B, #3B85D4);
    background: -o-linear-gradient(bottom,#1D1D1B, #3B85D4);
    background: linear-gradient(to top,#1D1D1B, #3B85D4);
	color: #FFFFFF;
	font-size: large;
	padding: 5px;
	}
	.buttom:hover{
		background-color: #3b3b3b;
    background: -webkit-linear-gradient(top,#3b3b3b, #1D1D1B);
    background: -moz-linear-gradient(top,#3b3b3b, #1D1D1B);
    background: -ms-linear-gradient(top,#3b3b3b, #1D1D1B);
    background: -o-linear-gradient(top,#3b3b3b, #1D1D1B);
    background: linear-gradient(to bottom,#3b3b3b,#1D1D1B);
	}
	.buttom2{
	position:relative;
	float:left;
	margin-left:1%;
	background-color: #1D1D1B;
    background: -webkit-linear-gradient(bottom,#1D1D1B, #3B85D4);
    background: -moz-linear-gradient(bottom,#1D1D1B, #3B85D4);
    background: -ms-linear-gradient(bottom,#1D1D1B, #3B85D4);
    background: -o-linear-gradient(bottom,#1D1D1B, #3B85D4);
    background: linear-gradient(to top,#1D1D1B, #3B85D4);
	color: #FFFFFF;
	font-size: large;
	padding:5px;
	}
	.buttom2:hover{
		background-color: #3b3b3b;
    background: -webkit-linear-gradient(top,#3b3b3b, #1D1D1B);
    background: -moz-linear-gradient(top,#3b3b3b, #1D1D1B);
    background: -ms-linear-gradient(top,#3b3b3b, #1D1D1B);
    background: -o-linear-gradient(top,#3b3b3b, #1D1D1B);
    background: linear-gradient(to bottom,#3b3b3b,#1D1D1B);
	}
	.buttom3{
	position:relative;
	float:left;
	margin-left:1%;
	background-color: #1D1D1B;
    background: -webkit-linear-gradient(bottom,#1D1D1B, #3B85D4);
    background: -moz-linear-gradient(bottom,#1D1D1B, #3B85D4);
    background: -ms-linear-gradient(bottom,#1D1D1B, #3B85D4);
    background: -o-linear-gradient(bottom,#1D1D1B, #3B85D4);
    background: linear-gradient(to top,#1D1D1B, #3B85D4);
	color: #FFFFFF;
	font-size: large;
	padding:5px;
	}
	.buttom3:hover{
		background-color: #3b3b3b;
    background: -webkit-linear-gradient(top,#3b3b3b, #1D1D1B);
    background: -moz-linear-gradient(top,#3b3b3b, #1D1D1B);
    background: -ms-linear-gradient(top,#3b3b3b, #1D1D1B);
    background: -o-linear-gradient(top,#3b3b3b, #1D1D1B);
    background: linear-gradient(to bottom,#3b3b3b,#1D1D1B);
	}
	.mini_buttom2{
	position:relative;
	float:left;
	margin-left:1%;
	background-color: #1D1D1B;
    background: -webkit-linear-gradient(bottom,#1D1D1B, #3B85D4);
    background: -moz-linear-gradient(bottom,#1D1D1B, #3B85D4);
    background: -ms-linear-gradient(bottom,#1D1D1B, #3B85D4);
    background: -o-linear-gradient(bottom,#1D1D1B, #3B85D4);
    background: linear-gradient(to top,#1D1D1B, #3B85D4);
	color: #FFFFFF;
	font-size:12px;
	padding:5px;
	}
	.mini_buttom2:hover{
		background-color: #3b3b3b;
    background: -webkit-linear-gradient(top,#3b3b3b, #1D1D1B);
    background: -moz-linear-gradient(top,#3b3b3b, #1D1D1B);
    background: -ms-linear-gradient(top,#3b3b3b, #1D1D1B);
    background: -o-linear-gradient(top,#3b3b3b, #1D1D1B);
    background: linear-gradient(to bottom,#3b3b3b,#1D1D1B);
	}
	.mini_buttom{
	position:relative;
	float:left;
	margin-left:1%;
	background-color: #1D1D1B;
    background: -webkit-linear-gradient(bottom,#1D1D1B, #3B85D4);
    background: -moz-linear-gradient(bottom,#1D1D1B, #3B85D4);
    background: -ms-linear-gradient(bottom,#1D1D1B, #3B85D4);
    background: -o-linear-gradient(bottom,#1D1D1B, #3B85D4);
    background: linear-gradient(to top,#1D1D1B, #3B85D4);
	color: #FFFFFF;
	font-size:12px;
	padding:5px;
	}
	.mini_buttom:hover{
		background-color: #3b3b3b;
    background: -webkit-linear-gradient(top,#3b3b3b, #1D1D1B);
    background: -moz-linear-gradient(top,#3b3b3b, #1D1D1B);
    background: -ms-linear-gradient(top,#3b3b3b, #1D1D1B);
    background: -o-linear-gradient(top,#3b3b3b, #1D1D1B);
    background: linear-gradient(to bottom,#3b3b3b,#1D1D1B);
	}
.buttoms{
width:500px;
height:32px;
margin-top:300px;
margin-left:350px;
}
.mini_buttoms1{
width:120px;
height:32px;
}
.buttoms2{
width:500px;
height:32px;
margin-top:200px;
margin-left:20%;
}
.buttoms3{
width:500px;
height:32px;
margin-top:200px;
margin-left:54%;
}
.game {
	font-size: 22px;
	color: #FFF;
	background-color: #1D1D1B;
    background: -webkit-linear-gradient(bottom,#1D1D1B, #3B85D4);
    background: -moz-linear-gradient(bottom,#1D1D1B, #3B85D4);
    background: -ms-linear-gradient(bottom,#1D1D1B, #3B85D4);
    background: -o-linear-gradient(bottom,#1D1D1B, #3B85D4);
    background: linear-gradient(to top,#1D1D1B, #3B85D4);
	
	color: #FFFFFF;
	text-align: center;
	padding: 10px;
	float: left;
	height: 9%;
	width: 85%;
	margin-top: 10%;
	margin-left: 7%;
	position: relative;
	vertical-align:top;
}
.game:hover{
	background-color: #3b3b3b;
    background: -webkit-linear-gradient(top,#3b3b3b, #1D1D1B);
    background: -moz-linear-gradient(top,#3b3b3b, #1D1D1B);
    background: -ms-linear-gradient(top,#3b3b3b, #1D1D1B);
    background: -o-linear-gradient(top,#3b3b3b, #1D1D1B);
    background: linear-gradient(to bottom,#3b3b3b,#1D1D1B);
	color: #FFFFFF;
	}
.game2 {
	font-size: 22px;
	color: #FFF;
	background-color: #1D1D1B;
    background: -webkit-linear-gradient(bottom,#1D1D1B, #3B85D4);
    background: -moz-linear-gradient(bottom,#1D1D1B, #3B85D4);
    background: -ms-linear-gradient(bottom,#1D1D1B, #3B85D4);
    background: -o-linear-gradient(bottom,#1D1D1B, #3B85D4);
    background: linear-gradient(to top,#1D1D1B, #3B85D4);
	color: #FFFFFF;
	text-align: center;
	padding: 10px;
	float: left;
	height: 9%;
	width: 85%;
	margin-left: 7%;
	margin-top:2%;
	position: relative;
	vertical-align:top;
}
.game2:hover{
	background-color: #3b3b3b;
    background: -webkit-linear-gradient(top,#3b3b3b, #1D1D1B);
    background: -moz-linear-gradient(top,#3b3b3b, #1D1D1B);
    background: -ms-linear-gradient(top,#3b3b3b, #1D1D1B);
    background: -o-linear-gradient(top,#3b3b3b, #1D1D1B);
    background: linear-gradient(to bottom,#3b3b3b,#1D1D1B);
	color: #FFFFFF;
		}
.jornada{
	
font-size: 18px;
	color: #FFF;
	position:relative;
	float:left;
}
.summary1{
float:left;
	text-align:center;
	margin-left:15%;
	margin-right:5%;
}
.summary2{
	width:250px;
	position:relative;
	float:left;
	margin-left:20%;
		margin-top:5%;
}
#apDiv1{
	position:relative;
	float:left;
	width:250px;
	margin-left:35%;
	margin-top:12%;
	font-size: 32px;
	color:#FFF;
	z-index:2000;
	text-shadow: 2px 3px 2px #000000;
	transform:rotate(-20deg);
	-moz-transform:rotate(-20deg);
	-webkit-transform:rotate(-20deg);
}
#apDiv2{
	position: absolute;
	width: 250px;
	height: 350px;
	margin-left: 53%;
	margin-top: 21%;
	font-size: 32px;
	color: #FFF;
	z-index: 3000;
	text-shadow: 2px 3px 2px #000000;
	background-image: url(imagenes/fondo_equipaciones.png);
	border-radius: 10px;
	text-align: center;
	padding: 10px;
	vertical-align: central;
	left: 84px;
	top: 8px;
}

#apDiv3{
	position:absolute;
	width:250px;
	margin-left:56%;
	margin-top:27%;
	font-size: 32px;
	color:#FFF;
	z-index:2000;
	text-shadow: 2px 3px 2px #000000;
	transform:rotate(-20deg);
	-moz-transform:rotate(-20deg);
	-webkit-transform:rotate(-20deg);
}
.select{
	position:relative;
	float:left;
	margin-left:6%;
	

}
