body, html {
            margin: 0px;
            height: 100%;
        }
        body {
            width: 100%;
            float: left;
        }
       #main_container {
            text-align: left;
            vertical-align: middle;
            margin: 0px auto;
            padding: 0px;
            width: 1000px;
            background-color: trasparent;
        }
        #sb-player.html {
            overflow: hidden!important;
        }
        #browserInfo {
            display:block;
            clear:both;
            text-align: center;
            width:100%;
            background-color:white;
            padding: 20px 0;
            overflow:auto;
        }
        #browserInfo h1 {
            font-size: 120%;
            padding: 0 0 10px;
        }
        #browserInfo a{
            margin: 20px 10px;
        }
        .template * {
            display: none;
        }
		/* Dimensions set via css in MovingBoxes version 2.2.2+ */
		#slider { width: 350px; }
		#slider li { width: 200px; }
		#slider2 { width: 350px; }
		#slider2 li { width: 200px; }
		#slider3 { width: 350px; }
		#slider3 li { width: 200px; }
		#slider_golkeeper { width: 350px; }
		#slider_golkeeper li { width: 200px; }
		#slider_golkeeper2 { width: 350px; }
		#slider_golkeeper2 li { width: 200px; }
		#slider_golkeeper3 { width: 350px; }
		#slider_golkeeper3 li { width: 200px; }
#container{
	padding:20px;
}
#gol_keeper_slider{
position:relative;
float:left;
margin right:95px;
	margin-left:110px;
	
}
#players_slider{
	position:relative;
	float:left;
	margin right:95px;
	margin-left:50px;
}
#shield{
	width: 50px;
	height: 50px;
	position:relative;
	float:left;
	margin-left:10px;
	}
	
	#vs{
		width:60px;
		position: relative;
	float: left;
	margin-left:20px;
	}
#name{
	position: relative;
	float: left;
	vertical-align: central;
	color: #FFFFFF;
	font-size: x-large;
	text-align: rigth;
	text-indent: 25px;
	text-shadow: 2px 3px 2px #000000;
}
#name2{
	position: relative;
	float: right;
	vertical-align: central;
	color: #FFFFFF;
	font-size: x-large;
	text-align: rigth;
	text-indent: 25px;
	margin-top: 15px;
	text-shadow: 2px 3px 2px #000000;
}
#name3{
	position: relative;
	float: left;
	vertical-align: central;
	color: #FFFFFF;
	font-size: x-large;
	text-align: rigth;
	text-indent: 25px;
	margin-top: 15px;
	text-shadow: 2px 3px 2px #000000;
}
#logo{
	width:1000px;
	height:50px;
	position: relative;
	float: left;
	margin-left:200px;
}
#players{
	position: relative;
	float: left;
	color: #FFFFFF;
	font-size: large;
	text-align: rigth;
	text-indent: 25px;
	margin-top: 15px;
	text-shadow: 2px 3px 2px #000000;
}
#golkeepers{
	position: relative;
	float: right;
	color: #FFFFFF;
	font-size: large;
	text-align: rigth;
	text-indent: 25px;
	margin-top: 15px;
	text-shadow: 2px 3px 2px #000000;
}
#pl_gk{
	width:630px;
	height:90px;
	margin-left:110px;
}
#send_buttom{
	
	position: relative;
		
}
#kit_sent{
	z-index: 100000;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 1000px;
	height: 700px;
	margin-top:-150px;
	margin-left: -500px;
	visibility: hidden;
	background-color: #999999;
	background-image: url(imagenes/fondo_equipaciones.jpg);
	background-repeat: no-repeat;
	background-size: 1000px auto;
			}
			
#kit_sent2{
	z-index: 100000;
	position: absolute;
	top: 50%;
	left: 50%;
	visibility:hidden;
	width: 1000px;
	height: 700px;
	margin-top: -200px;
	margin-left: -500px;
	background-color: #999999;
	background-image: url(imagenes/fondo_equipaciones.jpg);
	background-repeat: no-repeat;
	background-size: 1000px auto;
			}
		
#txt{
	position:absolute;
	float:left;
	margin:15%;
	color: #ffffff;
	font-size: xx-large;
}
#txt_ok{
	position: relative;
	float: left;
	clear:right;
	vertical-align: central;
	color: #FFFFFF;
	margin-right:150px;
	margin-left:150px;
	margin-bottom:50px;
	font-size: xx-large;
	text-align: rigth;
	text-indent: 25px;
	text-shadow: 2px 3px 2px #000000;
	
}
#close_buttom{
	background-color: #FFFFFF;
	font-size: large;
}
#fixed {
	position:fixed;
	width:260px;
	background-color:#CCC; 
	right:0px; 
	top:0px; 
	z-index:10
	}
	#buttom{
width: 90px;
	height: 30px;
	position:relative;
	float:left;
	margin:40px;
	background-color: #990000;
	background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(255,255,255,0.00)),color-stop( 100% , rgba(255,0,0,1.00)));
	background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,0.00) 0%,rgba(255,0,0,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(255,255,255,0.00) 0%,rgba(255,0,0,1.00) 100%);
	border-radius: 5px;
	color: #FFFFFF;
	font-size: large;
	padding-left:20px;
	}
#buttoms{
width:500px;
height:32px;
margin-top:500px;
margin-left:300px;
}
#container{
	height:900px;
}